<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>EN Voice Settings</title>
    <link rel="stylesheet" href="../css/settings.css">
    <script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="../js/settings.js"></script>
  </head>

  <body>
    <p class="title">EN Voice Settings</p>
    <hr />
    <div class="options">
      Volume: <span id="volume_val"></span><br />
      <input type="range" id="volume" min="0" max="1.0" step="0.1" value="1.0">
      Speed: <span id="speed_val"></span><br />
      <input type="range" id="speed" min="0.5" max="2.0" step="0.1" value="1.0">
      Pitch: <span id="pitch_val"></span><br />
      <input type="range" id="pitch" min="0" max="2.0" step="0.1" value="1.0">
      <button onclick="enVoiceTest()" id="enVoiceTest" class="testButton">English Voice Test</button><br />
      <small>Default: 1.0</small>
    </div>
  </body>
</html>