<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>EN Voice Settings</title>
    <link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">
    <link rel="stylesheet" href="../css/settings.css">
    <link rel="stylesheet" href="../css/remodal.css">
    <link rel="stylesheet" href="../css/remodal-default-theme.css">
    <script src="../js/jquery.min.js"></script>
    <script src="../js/settings.js"></script>
    <script src="../js/remodal.js"></script>
  </head>

  <body>
    <div class="remodal-bg">
      <p class="title">EN Voice Settings</p>
      <div style="text-align: center; margin-bottom: 1em;">
        <button onclick="chooseVoice()" id="voiceTypeButton" class="testButton">Choose Voice</button>
      </div>
      
      <hr />
      <div class="options">
        Volume: <span id="volume_val"></span><br />
        <input type="range" id="volume" min="0" max="1.0" step="0.1" value="1.0">
        Speed: <span id="speed_val"></span><br />
        <input type="range" id="speed" min="0.5" max="2.0" step="0.1" value="1.0">
        Pitch: <span id="pitch_val"></span><br />
        <input type="range" id="pitch" min="0" max="2.0" step="0.1" value="1.0">
        <button onclick="enVoiceTest()" id="enVoiceTest" class="testButton">English Voice Test</button>
      </div>
    </div>

    <div class="remodal" data-remodal-id="voiceList">
      <H3>Choose Voice Type</H3>
      <select name="voiceType" id="voiceType" size="4">
        <option value="none">Not Use</option>
      </select>
      <a class="remodal-confirm" href="#" onclick="confirmVoice()">OK</a>
    </div>
  </body>
</html>