<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>EN Voice Settings</title>
    <link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">
    <link rel="stylesheet" href="../css/settings.css">
    <script src="../js/jquery.min.js"></script>
    <script src="../js/settings.js"></script>
  </head>

  <body>
    <p class="title">EN Voice Settings</p>
    <div style="text-align: center">
      <input type="checkbox" id="useEnglish"><label for="useEnglish">Use English Voice</label>
    </div>
    <div class="options">
      Volume: <span id="volume_val"></span><br />
      <input type="range" id="volume" min="0" max="1.0" step="0.1" value="1.0">
      Speed: <span id="speed_val"></span><br />
      <input type="range" id="speed" min="0.5" max="2.0" step="0.1" value="1.0">
      Pitch: <span id="pitch_val"></span><br />
      <input type="range" id="pitch" min="0" max="2.0" step="0.1" value="1.0">
      <button onclick="enVoiceTest()" id="enVoiceTest" class="testButton">English Voice Test</button>
    </div>
  </body>
</html>