<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Help (Japanese)</title>
    <link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
  </head>
 
  <body>
    <h1>Twitch Comment Talker</h1>
    <div class="content">
        <p>Twitchに投稿されたコメントを、棒読みちゃんとSpeechAPIで読み上げ可能にします。<br>
        和文は棒読みちゃんで、英文はSpeechAPIで読み上げられます。</p>
        <hr>
        <H3>使い方</H3>
        <ol>
            <li>棒読みちゃんを起動しておきます。</li>
            <li><img src="../img/Login.png" style="vertical-align: middle;">をクリックして、Twitchにログインします。</li>
            <li>Username欄に自分のユーザーIDを入力します。<br /><small>※ログイン時に入力するIDです</small></li>
            <li>Channel欄に読み上げたいチャンネルIDを入力します。<br /><small>※http://twitch.tv/[この部分がチャンネルID]</small></li>
            <li>Connectボタンを押すと読み上げが開始されます。</li>
        </ol>
        <hr />
        <H3>Settingsについて</H3>
        <ul>
            <li>Replacement
                <ul>
                    <li>読み上げ時、棒読みちゃん側の置換設定とは別に文字列を読み替えます。</li>
                    <li>英文読み上げ等で、棒読みちゃんが使用されないときも適用されます。</li>
                    <li>英単語を日本語に読み替えると、英語音声では再生されなくなります。</li>
                </ul>
            </li>
            <li>JP Voice
                <ul>
                    <li>棒読みちゃんとの接続設定ができます。</li>
                    <li>棒読みちゃんのSocket通信ポートが50001ではない場合に変更ができます。</li>
                    <li>棒読みちゃんを別PCで実行している場合、ホストアドレスを変更できます。</li>
                </ul>
            </li>
            <li>EN Voice
                <ul>
                    <li>現在のところ設定項目はありません。</li>
                </ul>
            </li>
            <li>Read Name
                <ul>
                    <li>チェックが付いている時、コメント投稿者のユーザー名を読み上げます。</li>
                    <li>ユーザー名も読み替えの対象です。</li>
                </ul>
            </li>
        </ul>
        <hr />
        <p>ご意見、ご質問は @advanced_bear まで。</p>
    </div>
  </body>
</html>
