<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Help (Japanese)</title>
    <link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">
    <link rel="stylesheet" href="../css/help.css">
    <script src="../js/jquery.min.js"></script>
    <script>
        $(function() {
            $('body').fadeIn('fast');
            $('.tabs div').click(function() {
                var idx = $('.tabs div').index(this);
                $('.content').fadeOut(150);
                $('.content').eq(idx).delay(150).fadeIn(150);
                $('.tabs div').removeClass('selected');
                $(this).addClass('selected')
            });

            $('#langButton').click(function(){
                $('body').fadeOut('fast',function(){
                    location.href = "help_en.html";
                });
            })
        });
    </script>
  </head>
 
  <body>
    <header>
        <div id="langButton"><img src="../img/settingsEN.png"></div>
        <div id="title">Twitch Talk App Help</div>
        <p>Twitchに投稿されたコメントを、棒読みちゃんとSpeechAPIで読み上げ可能にします。<br>
        和文は棒読みちゃんで、英文はSpeechAPIで読み上げられます。</p>
    </header>
    <div class="tabs">
        <div class="selected">使い方</div>
        <div>設定項目</div>
        <div>アプリ更新</div>
    </div>
    <div class="content">
        <ol>
            <li>棒読みちゃんを起動しておきます。</li>
            <li>Connect with Twitchをクリックして、Twitchにログインします。</li>
            <li>Username欄に自分のユーザーIDを入力します。<br /><small>※ログイン時に入力するIDです</small></li>
            <li>Channel欄に読み上げたいチャンネルIDを入力します。<br />
                <small>※自分のチャンネルであれば自分のユーザーID、他人のチャンネルであれば相手のユーザーIDです</small></li>
            <li>Connectボタンを押すと読み上げが開始されます。</li>
        </ol>
    </div>
    <div class="content" style="display: none;">
        <ul>
            <li>Replacement
                <ul>
                    <li>読み上げ時、棒読みちゃん側の置換設定とは別に文字列を読み替えます。</li>
                    <li>和文と英文、それぞれに別の置換設定が適用されます。</li>
                    <li>英単語を日本語に読み替えると、英語音声では再生されなくなります。</li>
                    <li>Emoticonsでは、エモートの読み替えを設定できます。
                        <ul>
                            <li>エモートの読み替えは、和文・英文の読み替えの前に行われます。</li>
                            <li>「Pronunciation」欄に読み上げ方を入力し、Applyボタンで適用されます。</li>
                            <li>読み替え後の単語が和文ならば棒読みちゃんで、英文ならば英語音声で読み上げます。</li>
                            <li>和文・英文で置換設定された単語に置き換えた場合、読み替えがされます。</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>JP Voice
                <ul>
                    <li>棒読みちゃんとの接続設定ができます。</li>
                    <li>棒読みちゃんのSocket通信ポートが50001ではない場合に変更ができます。</li>
                    <li>棒読みちゃんを別PCで実行している場合、ホストアドレスを変更できます。</li>
                </ul>
            </li>
            <li>EN Voice
                <ul>
                    <li>英語音声の音量、再生速度、音程を変更できます。</li>
                    <li>PCの環境によっては変更が反映されない場合もあります。</li>
                </ul>
            </li>
            <li>Read Name
                <ul>
                    <li>チェックが付いている時、コメント投稿者のユーザー名を読み上げます。</li>
                    <li>ユーザー名も読み替えの対象です。</li>
                </ul>
            </li>
            <li>Read Emotes
                <ul>
                    <li>チェックが付いている時、コメント本文に含まれるエモートを読み上げます。</li>
                </ul>
            </li>
            <li>Notification
                <ul>
                    <li>チェックが付いている時、コメントをポップアップ通知します。</li>
                    <li>フルスクリーンゲームをプレー中はポップアップは表示されません。</li>
                    <li>一部のボーダレスフルスクリーンでも表示されないことがあります。</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="content" style="display: none;">
        <p>アプリ起動時、新しいバージョンが利用できる場合は通知されます。<br />
        OKボタンを押すと自動アップデートが開始されます。<br />
        自動アップデートに失敗した場合は、手動でダウンロードしてファイルを上書きしてください。<br />
        保存されたパスワードや設定などは消去されません。</p>
        <hr />
        <p>ご意見、ご要望、お問い合わせ等は
            <ul>
                <li><a href="#" onClick="nw.Shell.openExternal('https://twitter.com/advanced_bear'); return false;">@advanced_bear</a></li>
                <li><a href="#" onClick="nw.Shell.openExternal('http://advancedbear.blogspot.jp/2017/11/twitch-talk-app.html#comments'); return false;">ブログ記事コメント欄</a></li>
            </ul>
            へお願いします。
        </p>
    </div>
  </body>
</html>
