<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>JP Voice Settings</title>
    <link rel="stylesheet" href="../css/settings.css">
    <script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="../js/settings.js"></script>
  </head>

  <body>
    <p class="title">JP Voice Settings</p>
        <table>
            <tr><td>Port:</td><td><input type="number" id="bouyomi_port"></td></tr>
            <tr><td>IP  :</td><td><input type="text" id="bouyomi_ip"></td></tr>
        </table>
        <hr />
        <div class="button_wrapper"><button id="bouyomi_submit">Save &amp; Close</button></div>
  </body>
</html>