<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Replacement Settings</title>
    <link rel="stylesheet" href="../css/settings.css">
    <script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="../js/settings.js"></script>
  </head>

  <body>
    <H2>Replacement Settings</H2>
    <hr />
    <div id="newWord">
        <label for="word1">New Word: </label><input type="text" id="word1"> -> <input type="text" id="word2">　<button onclick="addWord()" id="addWord">Add</button><br />
        <i style="color: #FF3A3A;">When you finish setting, please close this window.</i>
    </div> 
    <hr />
    <table id="list">
        <tr><th style="width: 180px">From</th><th style="width: 360px">To</th><th style="width: 40px">DEL</th></tr>
    </table>
  </body>
</html>