body {
    margin: 0;
    overflow-y: hidden;
    user-select: none;
}

.sidenav::-webkit-scrollbar {
    display: none;
}

.loader {
    background: #37474f;
    color: rgb(236, 240, 241);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    padding-top: 40%;
    text-align: center;
    overflow-y: hidden;
}

.d_text {
    color: rgb(46, 204, 113);
    margin: 0;
}
.d_text0 {
    color: rgb(236, 240, 241);
    margin: 0;
}
.d_text1 {
    color: rgb(231, 76, 60);
    margin: 0;
}

.switch label {
    color: rgb(0, 0, 0);
}