::-webkit-scrollbar {
    display: none;
}

.brand-logo {
    font-family: 'Passion One', cursive;
}

.navbar-fixed {
    height: 112px !important;
}

.tab a {
    color: rgba(0,0,0,0.87)!important;
}
.indicator {
    background-color: #607d8b !important;
}
::-webkit-scrollbar {
    display: none;
}
nav .sidenav-trigger {
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 32px;
}
.add-btn {
    position: fixed;
    right: 15px;
    bottom: 15px;
}

#saveBtn, #saveJP {
    position: fixed;
    right: 10px;
    bottom: 10px;
}