body {
    background: #E1DBEE;
}

h2 {
    text-align: center;
    color: #6441A4;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button_wrapper {
    text-align: center;
}

.tab {
	padding: 0;
	margin: 0;
}

.tab li {
	box-sizing: border-box;
	float: left;
	height: 42px;
	font-size: 16px;
	text-align: center;
	line-height: 42px;
	width: -webkit-calc(100% / 2);
	list-style-type: none;
    background: #E1DBEE;
    cursor: pointer;
}

li.selected {
	background: transparent;
	cursor: default;
	display: block;
}

.hide {
	display: none;
}

.content {
    background: rgba(0,0,0,0.1);
    height: 420px;
}

.table_wrapper {
    height: 300px;
    overflow-y: scroll;
}

table.list {
    border-collapse: collapse;
    border: solid 1px #333;
    margin-left: auto;
    margin-right: auto;
    width: 585px;
    table-layout: fixed;
}

.list td, .list th {
    border: solid 1px #333;
}

.list tr td:nth-child(1) {
    width: 180px;
    word-wrap: break-word;
}
.list tr td:nth-child(2) {
    width: 360px;
    word-wrap: break-word;
}
.list tr td:nth-child(3) {
    width: 40px;
}

#newWord {
    text-align: center;
}

p.title {
    color: #6441A4;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: center;
}

input#bouyomi_port{
    width: 5em;
}

input#bouyomi_ip{
    width: 16ex;
}

button#bouyomi_submit{
    font-size: 16px;
    padding: 12px;
    width: 90%;
}

.options {
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
	width: 100%;
	box-sizing: border-box;
}
input[type="range"]{
    width: 100%;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    margin: 7px 0;
    margin-bottom: 14px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #6441A4;
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

input[type="range"]::-webkit-slider-thumb:hover {
    background: rgb(128, 100, 180);
}

input[type="range"]::-webkit-slider-thumb:active {
    background: rgb(128, 100, 180);
}
  

.testButton{
    margin-top: 1ex;
	width: 80%;
}